{% extends 'base.html' %}

{% block title %}
<title>500 Internal Server Error</title>
{% endblock %}

{% block style %}
<link href='//static.mosky.tw/500.css' rel='stylesheet' type='text/css'>
{% endblock %}

{% block content %}
    <!-- TODO: Use HTML5 tags on IE 7-8 -->
    <div class='article'>

        <div class='header'>
            <p>500 Internal Server Error
        </div>

        <p>Sorry, I am writing something new. I know here has a problem.

        <p>Go back to the <a href='/'>mosky.tw</a>.

    </div>

    {% if traceback is defined %}
    <div class='article'>

        <div class='header'>
            <p>Traceback
        </div>

        <pre>{% for line in traceback %} {{ line }} {% endfor %}</pre>

    </div>
    {% endif %}

    {% if config.DEBUG %}
    <div class='article'>

        <div class='header'>
            <p>Session
        </div>

        <pre>{{ session }}</pre>

    </div>

    <div class='article'>

        <div class='header'>
            <p>request
        </div>

        <p> request.environ['REMOTE_ADDR']
        <pre>{{ request.environ['REMOTE_ADDR'] }}</pre>

        <p> request.method request.url
        <pre>{{ request.method }} {{ request.url }}</pre>

        <p> request.is_xhr
        <pre>{{ request.is_xhr }}</pre>

        <p> request.json
        <pre>{{ request.json | pprint }}</pre>

        <p> request.args
        <pre>{{ request.args.to_dict(flat=False) | pprint }}</pre>

        <p> request.form
        <pre>{{ request.form.to_dict(flat=False) | pprint }}</pre>

        <p> request.cookies
        <pre>{{ request.cookies | pprint }}</pre>

        <p> request.files
        <pre>{{ request.files.to_dict(flat=False) | pprint }}</pre>

        <p> request.environ
        <pre>{{ request.environ | pprint }}</pre>

    </div>
    {% endif %}

    {% if other is defined %}
    <div class='article'>

        <div class='header'>
            <p>Other
        </div>

        <p>It occursed at <time>{{other.occursed_at}}</time>.

    </div>
    {% endif %}
{% endblock %}
