{% extends 'base.html' %}

{% block title %}
<title>Hi, I am Mosky!</title>
{% endblock %}

{% block style %}
<link href='/css/about.css' rel='stylesheet' type='text/css'>
{% endblock %}

{% block content %}
    <!-- TODO: Use HTML5 tags on IE 7-8 -->
    <div class='article' itemscope itemtype='http://data-vocabulary.org/Person'>

        <div class='header'>
            <p>Hi, <br>I am <span itemprop='nickname'>Mosky</span>!
        </div>

        <a title='go to my Facebook' target='_blank' href='https://www.facebook.com/mosky.liu'><img class='mosky-pic' alt="Mosky's Picture" src='https://graph.facebook.com/mosky.liu/picture?width=100&amp;height=100' itemprop='photo'></a>

        <p>Here is no "server not found" anymore!

        <p>My new friends always tell me my site is down, so I think it is necessary to create a page for <a target='_blank' href='/' itemprop='url'>mosky.tw</a>.</p>

        <p>Uh. Let me explain it. Actually, I just don't have spare time to keep writing articles on my blog, and I don't want to leave a ruin on the Internet, so I closed my blog on 2011-10-12. But I am still using this domain, and wishing I will reopen my blog.

        <p>Maybe I will reopen my blog recently ... Anyway, I at least made this page.

        <p>If you are interesting in me, here is my short bio:

        <ol>
            <li>I am working for <a target='_blank' href='http://www.pinkoi.com'><span itemprop='affiliation'>Pinkoi</span></a> now.</li>
            <li>A speaker at <a target='_blank' href='http://osdc.tw/2014'>OSDC</a> 2014</li>
            <li>A speaker at <a target='_blank' href='http://apac-2013.pycon.jp/'>PyCon APAC</a> 2013</li>
            <li>A speaker at <a target='_blank' href='http://coscup.org'>COSCUP</a> 2013</li>
            <li>A speaker at <a target='_blank' href='http://pycon.tw'>PyCon.TW</a> 2013</li>
            <li>A speaker at <a target='_blank' href='http://sitcon.org'>SITCON</a> 2013</li>
            <li>A speaker at <a target='_blank' href='http://pycon.jp'>PyCon.JP</a> 2012</li>
            <li>A speaker at <a target='_blank' href='http://pycon.tw'>PyCon.TW</a> 2012</li>
            <li>2010-2014 A instructor for Python courses, for <a target='_blank' href='http://www.openfoundry.org/'>OSSF</a> mostly.</li>
            <li>2009-2014 A member of <a target='_blank' href='http://coscup.org'>COSCUP</a> team</li>
            <li>2009-2012 A member of <a target='_blank' href='http://www.ubuntu-tw.org/'>Ubuntu-TW</a> LoCo team</li>
        </ol>

        <p>Here are some links which relate to me:

        <ol>
            <li><a target='_blank' href='https://www.github.com/moskytw'>Github</a> - Here are my personal projects, </li>
            <li><a target='_blank' href='https://pypi.python.org/pypi?%3Aaction=search&term=mosky&submit=search'>PyPI</a> - and the projects which uploaded to PyPI.</li>
            <li><a target='_blank' href='http://www.slideshare.net/moskytw'>SlideShare</a> - I put my slides here, </li>
            <li><a target='_blank' href='https://speakerdeck.com/mosky'>Speaker Deck</a> - or here.</li>
            <li><a target='_blank' href='https://www.facebook.com/mosky.liu'>Facebook</a> - just too popular to resist it.</li>
            <li><a target='_blank' href='https://twitter.com/moskytw'>Twitter</a> - I just start using it.</li>
            <li><a target='_blank' href='http://www.plurk.com/mosky'>Plurk</a> - I have posted some notes on it.</li>
            <li><a target='_blank' href='http://www.linkedin.com/profile/view?id=81558046'>LinkedIn</a> - if you are using.</li>
        </ol>

        <p>Or you can reach me via email, <img class='mosky-gmail' alt='mosky dot tw at gmail dot com' src='img/mosky-gmail.png'>.

        <p>That's all. :)

        <div class='footer'>
            <p>Mosky<br>2013-01-26
        </div>

        <div class='robot'>
            <span itemprop='name'>Mosky Liu</span>
            <span itemprop='title'>Python Charmer</span>
        </div>

    </div>

    <div class='article'>
        <div class='header'>
            <p>A memorial
        </div>
        <p>For the best user experience, I had checked this page is rendered acceptably on 13 combinations of different platforms and browsers. It is a tired work, but I had enjoyed in this work. :P
        <p>It may sound silly, but I did take <a target='_blank' href='http://j.mp/13-combination'>screenshots</a> for all cases. It may be considered a memorial for working hard.
        <p>Maybe you can choose a best browser and platform from my result.
    </div>

    <div class='article'>
        <div class='header'>
            <p>Thanks
        </div>
        <p><a target='_blank' href='http://subtlepatterns.com/'>Subtle Patterns</a> and <a target='_blank' href='http://www.doublejdesign.co.uk/'>Double-J Design</a> provided the nice backgrounds and the favicon.
    </div>
{% endblock %}
