<!DOCTYPE html>
<!-- IE7: fix the hover on any element -->
<!--[if lte IE 7]>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<![endif]-->

<meta charset='utf-8'>
<meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1'>
<meta name='description' content='Hi, I am Mosky!'>
<meta name='keywords' content='mosky'>
{% block title %}
<!-- no title -->
{% endblock %}
<link href='/css/base.css' rel='stylesheet' type='text/css'>
{% block style %}
<!-- no other style -->
{% endblock %}
<link href='http://fonts.googleapis.com/css?family=Gafata' rel='stylesheet' type='text/css'>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-37976535-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

{% block script %}<!-- no other script -->{% endblock %}

<div id='container'>

    <!--[if lt IE 9]>

    <div class='article warning'>
        <div class='header'>Hey, <br>Your browser is venerable!</div>
        <p>It can not render modern web correctly, and actually, you have better choices:
        <ol class='browser-list'>
            <li><a title='use fastest Chrome' target='_blank' href='https://www.google.com/chrome'><img src='/img/chrome.png'></a></li>
            <li><a title='use most extendable Firefox' target='_blank' href='http://mozilla.com.tw/firefox/'><img src='/img/firefox.png'></a></li>
            <li><a title='use powerful Opera' target='_blank' href='http://www.opera.com/'><img src='/img/opera.png'></a></li>
            <li><a title='upgrade IE' target='_blank' href='http://windows.microsoft.com/zh-TW/internet-explorer/download-ie'><img src='/img/ie.png'></a></li>
        </ol>
        <p>It may even <a target='_blank' href='http://www.favbrowser.com/internet-explorer-tax-sure-why-not/'>costs</a> your money!<p>
    </div>

    <![endif]-->
    {% block content %}<!-- no content -->{% endblock %}
</div>
