server {

    server_name mosky.tw www.mosky.tw;
    root $ROOT/$PUBLIC;

    #rewrite_log on; # When enabled, outputs information about rewrites to the error log at notice level.
    error_log $ROOT/$LOG/mosky.tw-nginx-error.log;

    #error_log $ROOT/$LOG/mosky.tw-nginx-error.log notice;
    access_log $ROOT/$LOG/mosky.tw-nginx-access.log;

    charset UTF-8;

    error_page 404 /404;

    if ($uri ~ ^/([^/]+)\.(png|jpg|gif|ico|js|css|html|json)$) {
        rewrite \.(png|jpg|gif|ico)$ /img$uri break;
        rewrite \.(js|css|html|json)$ /$1$uri break;
    }

    location ~ ^/(img|js|css|html|json)/ {
        try_files $uri =404;
    }

    # pass to uwsgi in any other case
    location / {
        include uwsgi_params;
        uwsgi_pass 127.0.0.1:$PORT;
    }

}
