server {

    server_name mosky.tw www.mosky.tw;

    location ^~ /$SUB {

        # /dev       -> /
        # /dev/      -> /
        # /dev/about -> /about
        rewrite /$SUB/?(.*) /$1;

        charset UTF-8;

        access_log $ROOT/$LOG/access.log;

        #rewrite_log on; # When enabled, outputs information about rewrites to the error log at notice level.
        #error_log $ROOT/$LOG/error.log notice;
        error_log $ROOT/$LOG/error.log;

        root $ROOT/$PUBLIC;
        error_page 404 /404;

        # firefox.png -> /img/firefox.png
        # jquery.js   -> /js/jquery.js
        if ($uri ~ ^/([^/]+)\.(png|jpg|gif|ico|js|css|html|json)$) {
            rewrite \.(png|jpg|gif|ico)$ /img$uri break;
            rewrite \.(js|css|html|json)$ /$1$uri break;
        }

        location ~ ^/(img|js|css|html|json)/ {
            try_files $uri =404;
        }

        include uwsgi_params;
        uwsgi_pass 127.0.0.1:$PORT;
    }

}
