server {
    server_name $SUB.mosky.tw;
    root $PATH_TO_HTML;

    error_log $ROOT/$LOG/$SUB.mosky.tw-nginx-error.log;
    access_log $ROOT/$LOG/$SUB.mosky.tw-nginx-access.log;

    location / {
        try_files $uri $uri/index.html =404;
    }
}
