pre, code {
    font-size: 14px;
    font-family: Ubuntu Mono, monospace;
}

code {
    border: 1px solid silver;
    padding: 2px;
}

pre {
    overflow: hidden;
}

pre:hover{
    overflow-x: auto;
}

